
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.display-flex{
    display: flex;
}

.h-title{
    font-size: 32px;
font-weight: 600;
line-height: 40px;
}

.navber{
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 18px 130px 24px 130px;
 background-color: rgba(21, 128, 61, 1);
   
    margin: 0;
}

.n-atb{
    margin-right: 20px;
     color: white;
     text-decoration: none;

}
.nav-btn{
    background-color: rgba(250, 204, 21, 1);
    color: rgba(21, 128, 61, 1);
    padding: 12px 20px;
    border-radius: 999px;
    cursor: pointer;
    border: none;
}

.banner{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(207, 240, 220, 1);
    text-align: center;
}
.banner-h{
    font-size: 48px;
font-weight: 700;
letter-spacing: 0%;
}
.banner-p{
color:cadetblue;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}


/* about-the-campaign */
.about-the-campaign{
    text-align: center;
    background: rgba(240, 253, 244, 1);
    padding: 100px 415px;
    
}
.campaign-parent{
    gap: 20px;
    text-align: left;
    align-items: center;
    margin-top: 40px;
    
}

/* our-impact */
.our-impact{
    background: rgba(207, 240, 220, 1);
    text-align: center;
    padding:100px 130px;
}
.impact-card-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.impact-card{
    background-color: white;
    padding: 40px;
    border-radius: 12px;
}
.impact-card:hover{
    background-color: darkgreen;
    cursor: pointer;
}
.our-h{
    color: rgba(21, 128, 61, 1);
font-size: 32px;
font-weight: 600;
line-height: 40px;
}

/* plant-tree */

.plant-tree{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(22, 101, 52, 1);
    margin: 0;
    padding: 100px;
    
}
.form-box{
    background-color: rgba(21, 128, 61, 1);
    width: 650px;
    height: 311px;
    padding: 35px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 10px;
}
.form-box form{
    display: flex;
    flex-direction: column;
}
.form-box input[type= "text"],[type= "email"],[type= "number"],[type= "button"]{
    padding: 10px;
    border-radius: 9px;
    font-size: 16px;
    margin-top: 20px;
}
footer{
    background: rgba(20, 83, 45, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 24px;
}





.card-body {
  text-align: center;
  display: flex;
  /* grid-template-columns: repeat(3, 1fr); */
  justify-content: space-between;
}

.grid{
  max-width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 3px solid green;

  max-width: 100%;
  
}
.grid img{
max-width:155px;
height:150px;
} 











@media screen and (max-width: 570px){
    .navber{
        padding: 12px 20px;
        flex-direction: column;
        text-align: center;
       }
       .banner{
        flex-direction: column;
       }
       .banner-h{
        font-size: 2em;
       }
       .b-img{
        max-width: 100%;
       }
       .about-the-campaign{
         padding: 12px 20px;
        flex-direction: column;
        text-align: center;
       }
       .campaign-parent{
        flex-direction: column;
       }
       .campaign-pic{
        max-width: 100%;
       } 
       .impact-card-parent{
        grid-template-columns: repeat(1, 1fr);
       }
       .card-body {
  flex-direction: column-reverse;
}
.grid{
  text-align: center;
  max-width: 100%;
  grid-template-columns: repeat(1, 1fr);
  border: 3px solid green;
  
}
#categoriesContainer:hover{
cursor: pointer;
background-color: green;
margin-top: 5px;
}

   
}