
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.display-flex{
    display: flex;
}

.h-title{
    font-size: 32px;
font-weight: 600;
line-height: 40px;
}

.navber{
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 18px 130px 24px 130px;
 background-color: rgba(21, 128, 61, 1);
   
    margin: 0;
}

.n-atb{
    margin-right: 20px;
     color: white;
     text-decoration: none;

}
.nav-btn{
    background-color: rgba(250, 204, 21, 1);
    color: rgba(21, 128, 61, 1);
    padding: 12px 20px;
    border-radius: 999px;
    cursor: pointer;
    border: none;
}

.banner{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(207, 240, 220, 1);
    text-align: center;
}
.banner-h{
    font-size: 48px;
font-weight: 700;
letter-spacing: 0%;
}
.banner-p{
color:cadetblue;
font-size: 16px;
font-weight: 400;
line-height: 24px;
}


/* about-the-campaign */
.about-the-campaign{
    text-align: center;
    background: rgba(240, 253, 244, 1);
    padding: 100px 415px;
}
.campaign-parent{
    gap: 20px;
    text-align: left;
    align-items: center;
    margin-top: 40px;
}



@media screen and (max-width: 570px){
    .navber{
        padding: 12px 20px;
        flex-direction: column;
        text-align: center;
       }
       .banner{
        flex-direction: column;
       }
       .banner-h{
        font-size: 2em;
       }
       .b-img{
        max-width: 100%;
       }
       .about-the-campaign{
         padding: 12px 20px;
        flex-direction: column;
        text-align: center;
       }
       .campaign-parent{
        flex-direction: column;
       }
       .campaign-pic{
        max-width: 100%;
       } 
   
}